*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}

body{
<<<<<<< HEAD
    background: #414141;
    color: whitesmoke;
    letter-spacing: 0.1rem;
=======
    background: #f3f3f3;
>>>>>>> main
    font-size: 14px;
    text-align: center;
}